* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(48, 48, 48, 0.767);
}

.div-logo {
    margin-left: 10px;
}

#btn-profile {
    width: 80px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgba(48, 48, 48, 0.767);
}

#btn-profile:hover {
    background-color: rgb(206, 206, 206);
}

.section-fav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding: 10px;
    position: fixed;
    top: 60px;
    border-right: 2px solid rgba(48, 48, 48, 0.767);
}

.section-fav input {
    width: 100px;
    height: 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 500px;
    margin-left: 200px;
}

.header-main {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(48, 48, 48, 0.767);
}

.header-main input {
    width: 200px;
    height: 30px;
}

.header-main button {
    width: 90px;
    height: 30px;
    margin-left: 5px;
}

.div-tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.task {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(48, 48, 48, 0.767);
}

.task span {
    margin-left: 10px;
}

.task button {
    width: 40px;
    height: 20px;
    margin-left: 5px;
}

#checkbox {
    width: 17px;
    height: 17px;
}

.profile {
    display: none;
    flex-direction: column;
    width: 250px;
    height: 500px;
    background-color: gray;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
}

.header-profile {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(48, 48, 48, 0.767);
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.div-logout {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: end;
}

#btn-logout {
    width: 70px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 1px solid rgba(48, 48, 48, 0.767);
}

#btn-logout:hover, #btn-close-profile:hover {
    opacity: 0.8;
}

#btn-close-profile {
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-color: red;
    border: 1px solid rgba(48, 48, 48, 0.767);
    color: white;
    font-weight: bolder;
}